<div class="bg-[#000] pt-1 pb-1">
  <p class="text-[#efecfb] font-[Montserrat] text-center text-sm">¡Hola,
    {{user}}!</p>
</div>
<header>

  <nav class="flex justify-center font-[Montserrat] bg-[#eafdfc]">
    <ul class="flex space-x-20 text-xl mt-4 mb-4">
      <li><a href="#">INICIO</a></li>
      <li><a href="#">PRODUCTOS</a></li>
      <li><a href="#">CONTACTO</a></li>
      <li><a href="#">
          <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
        </a></li>
    </ul>
  </nav>
</header>

<section class="flex justify-center">

  <div class="container mx-auto">

    <div class="bg-[#bfeaf5] rounded-xl p-6 mt-5">
      <h2 class="text-center font-[Montserrat] mb-4">CATEGORIA - REMERAS</h2>

      {{! CART }}

      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
      >
        {{#each products.payload}}

          <div class="bg-[#fff] p-0.5 shadow-md">
            <img
              src="/assets/remera.jpg"
              alt="{{this.title}}"
              class="object-cover h-auto w-full mb-2"
            />
            <h3
              class="text-lg font:[Montserrat] mb-2 text-center"
              data-title="{{this.title}}"
            >{{this.title}}</h3>
            <div class="flex items-center justify-between text-2xl">
              <div class="flex-1 flex items-center justify-center">
                <span class="font:[Montserrat]">${{this.price}}</span>
              </div>
              <button class="btnCart" data-id="{{this._id}}"><i
                  class="fa-solid fa-bag-shopping"
                  style="color: #000000;"
                ></i>
              </button>
            </div>
          </div>
        {{/each}}
      </div>

      {{! Paginación }}
      <div class="flex justify-center mt-4 space-x-2">
        <button><i
            class="fa-solid fa-arrow-left"
            style="color: #000000;"
          ></i></button>
        {{#with products}}
          <span>{{page}}</span>
        {{/with}}
        <button><i
            class="fa-solid fa-arrow-right"
            style="color: #000000;"
          ></i></button>

      </div>

    </div>

  </div>

</section>

<footer
  class="bg-[#000000] h-12 flex justify-center items-center font-[Montserrat] mt-5"
>
  <div class="space-x-3 pl-5 text-3xl">
    <a href="#"><i
        class="fa-regular fa-envelope"
        style="color: #efecfb;"
      ></i></a>
    <a href="#"><i
        class="fa-brands fa-instagram"
        style="color: #efecfb;"
      ></i></a>
    <a href="#"><i
        class="fa-brands fa-whatsapp"
        style="color: #efecfb;"
      ></i></a>
  </div>

  <div class="text-[#efecfb] ml-3">
    <h3>Developed by - Tomás Eisenhach | 2023</h3>
  </div>

</footer>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/productPaginate.js"></script>